//- TODO - widget options
if directory
  input.form-control-file(type='file', id='file_upload', data-title=title, webkitdirectory, mozdirectory)
else
  input.form-control-file(type='file', id='file_upload', data-title=title)
