.col-lg-12
  .card.card-body
    .row
      .col-lg-12
        h4.card-title Graph
      .col-lg-12
        hr

    .row
      .col-lg-12
        #cy(style='min-height: 30rem; min-width: 50rem; width: 100%')
