.modal-header
  button.close( type='button', data-dismiss='modal', aria-label='Close')
    span( aria-hidden='true' ) ×
    span.sr-only Close

  h4.modal-title= modalTitle

.modal-body.metric-modal
  block content

.modal-footer
  button.btn.btn-secondary( type='button', data-dismiss='modal' ) Close
