include ../../../../base/partials/form_helpers

.modal-header
  h4.modal-title= modalTitle

.modal-body
  .row
    .col-xs-12
      +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })
      +formTextArea({ label: 'Tooltip', placeholder: 'Tooltip', name: 'tooltip', type: 'text' })

.modal-footer
  button.btn.btn-secondary( type='button', data-dismiss='modal' ) Close
  +submitButton({})
