include ../../../../base/partials/form_helpers

.row
  .col-xs-1
    i.handle.fa.fa-fw.fa-bars(style='cursor:pointer;')
    //- TODO - should be data attribute

  .col-xs-3
    +formInput({ formGroupCss: 'm-b-0', name: 'enabled', type: 'checkbox', value: enabled })

  .col-xs-4= label
  .col-xs-3= id

  .col-xs-1
    .btn.btn-sm.btn-secondary(data-click='edit')
      i.fa.fa-fw.fa-pencil

//- .row
//-   .col-xs-10.col-xs-push-2= tooltip || 'No tooltip defined.'
