.row
  .col-lg-3
    #facets

  .col-lg-9.pl-0
    .row
      .col-lg-12.pb-3(data-region='header')
      .col-lg-12(data-region='record-list')
      .col-lg-12

  .rdf-detail(data-region='detail')
    .card.card-body
      h4.card-title RDF Viewer
      p.lead Click a node to details.

  .drift-underlay
    .drift-background
    .drift-content
