.row
  .col-xs-3
    #facets

  .col-xs-9.p-l-0
    .row
      .col-xs-12(data-region='header')
      .col-xs-12(data-region='record-list')
      #results.col-xs-12

  .rdf-detail(data-region='detail')
    .card.card-block
      h4.card-title RDF Viewer
      p.lead Click a node to details.

  .drift-underlay
    .drift-background
    .drift-content

