.row
  .col-xs-12

    h4.card-title
      a(data-relation=data['@id'])= data['@id'].split('/').pop()
      // a(data-click='show-detail' data-uri=data['@id'])= data['rdfs:Label']

  //- .col-xs-3.text-xs-right
  //-   .btn.btn-secondary.btn-sm(data-toggle='tooltip', data-placement='left', title='Copy JSON to Clipboard', data-click='clipboard' style='line-height=0;')
  //-     i.fa.fa-files-o

.row
  .col-xs-12(data-region='viewer')
