//- .row
//-   .col-xs-3
//-     .card.card-block
//-       h4.card-title Facet Settings

//-       p.card-text Reorder and enable/disable facets here.

//-   .col-xs-9.p-l-0(data-region='list')

.row
  .col-xs-2
    .card.z-depth-1
      //- .card-block.text-center

      //-   span.fa-stack.fa-4x
      //-     i.fa.fa-fw.fa-stack-2x.fa-circle
      //-     i.fa.fa-fw.fa-stack-1x.fa-inverse.fa-user

      //-   p.lead.m-t-1.m-b-0= firstName

      .row
        .col-xs-12( data-region='nav' )

  .col-xs-10.p-l-0( data-region='content' )

