include ../../../../base/partials/form_helpers

.row

  .col-lg-12

    .card.card-body

      .row
        .col-lg-12
          h4.card-title New Ontology

        .col-lg-12
          hr

        .col-lg-12
          +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })
          +formInput({ label: 'Prefix', placeholder: 'Prefix', name: 'prefix', type: 'text' })

        .col-lg-12(data-region='upload')

        .col-lg-12
          hr

        .col-lg-12.text-right
          +submitButton({})
