//- TODO - accept parameter?
//- input.form-control-file(type='file', id='file_upload', accept='image/*', data-title='Drag and drop a JSON-LD dataset')
input.form-control-file(type='file', id='file_upload', data-title='Drag and drop a JSON-LD dataset')
