.row.d-flex.flex-row.w-100
  .col-lg-12
    .card.card-body

      .row
        .col-lg-12
          .text-center
            h4.card-title ABOUT

      .row
        .col-lg-12.text-center

          p.lead
            | Built by&nbsp;
            a(href='http://aeks.co', target='_blank') Alexander Schwartzberg
            | &nbsp;for&nbsp;
            a(href='https://tw.rpi.edu/', target='_blank') TWC @ RPI.

      .row.m-t-1
        .col-lg-12.text-center
          a.btn.btn-lg.btn-outline-dark(href='https://github.com/tetherless-world/magellan', target='_blank')
            i.fa.fa-fw.fa-github.mr-1
            | Github Repository
