doctype html
html
  head
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    meta( name='viewport', content='width=device-width' )
    meta( charset='utf-8' )
    script( src='js/vendor.js' )
    script( src='js/app.js' )

    link( rel='stylesheet', type='text/css', href='css/app.min.css' )

    title Magellan - Data Explorer

  body.window
    .sidebar-region( app-region='sidebar' )
    .flash-region( app-region='flash' )
    .header-region( app-region='header' )
    .breadcrumb-region( app-region='breadcrumb' )
    .overlay-region( app-region='overlay' )
    .main-region( app-region='main' )
    .modal-region( app-region='modal' )
