.col-lg-12

  input(type='hidden', name='action', value='block' )

  .alert.alert-primary
    i.fa.fa-fw.fa-hand-stop-o
    | &nbsp;
    strong Blocking
    br
    | Short-circuits the definition chain if the supplied constraint is false.
