.col-lg-12

  input(type='hidden', name='action', value='filter' )

  .alert.alert-primary
    i.fa.fa-fw.fa-filter
    | &nbsp;
    strong Filter
    br
    | Allows the definition chain to continue if the supplied constraint is met.
    //- definition chain continue when the condition is false, perhaps phrasing it as allowing the chain to continue when the condition is true

