include ../../../../base/partials/form_helpers

.row
  .col-lg-12
    p.lead Export Rules

  .col-lg-12
    .alert.alert-primary
      i.fa.fa-fw.fa-cloud-download
      | &nbsp;
      strong Export
      p.mb-0 This action exports the rules defined on this dataset. They may then be imported by other datasets.

  .col-lg-12
    hr

  .col-lg-12
    +cancelButton({})
    +submitButton({})
