include ../../../../base/partials/form_helpers

.row
  .col-xs-12
    p.lead Import Rules

  .col-xs-12
    .alert.alert-info
      i.fa.fa-fw.fa-cloud-download
      | &nbsp;
      strong Import
      p This action imports Knowledge Capture rules exported by Magellan.

  .col-xs-12
    hr

  .col-xs-12(data-region='upload')

  .col-xs-12
    hr

  .col-xs-12
    +cancelButton({})
    +submitButton({})
