.row
  .col-lg-12

    button.btn.btn-sm.btn-outline-secondary.mr-2( data-click='export' )
      i.fa.fa-fw.fa-cloud-download
      |&nbsp;
      | Export Rules

    button.btn.btn-sm.btn-outline-secondary.mr-2( data-click='import' )
      i.fa.fa-fw.fa-cloud-upload
      |&nbsp;
      | Import Rules

    button.btn.btn-sm.btn-outline-primary.mr-2( data-click='new' )
      i.fa.fa-fw.fa-plus
      |&nbsp;
      | New Rule

    button.btn.btn-sm.btn-outline-success.mr-2( data-click='apply' )
      i.fa.fa-fw.fa-check-circle-o
      | &nbsp;
      | Apply Rules

    button.btn.btn-sm.btn-outline-danger( data-click='reset' )
      i.fa.fa-fw.fa-refresh
      | &nbsp;
      | Reset

.row
  .col-lg-12
    hr

.row
  .col-lg-12( data-region='content' )
