//- li.list-group-item
//-   .row
//-     .col-xs-1

//-     .col-xs-3
//-       strong Enabled

//-     .col-xs-4
//-       strong Target

//-     .col-xs-3
//-       strong Conditions

//-     .col-xs-1

li.list-group-item
  .row
    .col-xs-12
      strong Target
