.row
  .col-xs-12.col-sm-6
    ol.breadcrumb(data-container='breadcrumbs')

  .col-xs-12.col-sm-6
    //- ol.breadcrumb.right
    //-   - attrs = { 'data-placement':'top', 'data-toggle':'tooltip'}
    //-   li
    //-     a( title='Home Page' )&attributes(attrs)
    //-       i.fa.fa-fw.fa-lg.fa-home

    //-   li
    //-     a( title='Help' )&attributes(attrs)
    //-       i.fa.fa-fw.fa-lg.fa-info-circle

    //-   li
    //-     a( title='Tour' )&attributes(attrs)
    //-       i.fa.fa-fw.fa-lg.fa-compass

    //-   li
    //-     a( title='Feedback' )&attributes(attrs)
    //-       i.fa.fa-fw.fa-lg.fa-comment

  .col-xs-12
    hr.m-t-0
