.col-lg-12
  .row
    .col-lg-6
      p.lead.mb-0 Facets

    .col-lg-6.text-right

      button.btn.btn-sm.btn-outline-secondary( data-click='link-facets' )
        i.fa.fa-fw.fa-link
        |&nbsp;
        | Link Facets to Ontologies


  .row
    .col-lg-12
      hr

  .row
    .col-lg-3(data-region='list')
    .col-lg-9(data-region='viewer')
