.col-xs-12
  .row
    .col-xs-6
      p.lead.m-b-0 Facets

    .col-xs-6.text-xs-right

      button.btn.btn-sm.btn-secondary( data-click='link-facets' )
        i.fa.fa-fw.fa-link
        |&nbsp;
        | Link Facets to Ontologies


  .row
    .col-xs-12
      hr

  .row
    .col-xs-3(data-region='list')
    .col-xs-9(data-region='viewer')
