include ../../../../base/partials/form_helpers

.row
  .col-xs-12
    .card.card-block
      .row
        .col-xs-12
          h4.card-title Destroy Dataset

        .col-xs-12
          hr

        .col-xs-12
          .alert.alert-danger.m-b-0
            i.fa.fa-fw.fa-trash
            | &nbsp;
            strong Destroy
            br
            | Destroys the dataset and it's associated data. This action is permanent.

        .col-xs-12
          hr

        .col-xs-12.text-xs-right

          a.btn.btn-secondary.m-r-1( href='#datasets' )
            i.fa.fa-fw.fa-times
            | &nbsp;
            | Cancel

          a.btn.btn-danger.m-r-1( data-click='confirm' )
            i.fa.fa-fw.fa-trash
            | &nbsp;
            | Destroy
