include ../../../../base/partials/form_helpers

.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

.col-xs-12
  hr

.col-xs-12
  input(type='file' name='dir' webkitdirectory mozdirectory)

.col-xs-12
  hr

.col-xs-12.text-xs-right

  a.btn.btn-secondary.m-r-1( href='#datasets' )
    i.fa.fa-fw.fa-times
    | &nbsp;
    | Cancel

  +submitButton({})

