.row
  .col-xs-12
    .card.card-block
      .row
        .col-xs-12
          h4.card-title New Dataset

        .col-xs-12
          hr

        .col-xs-12( data-region='nav' )

        .col-xs-12
          hr

        .col-xs-12( data-region='content' )
