.row
  .col-lg-12
    .card.card-body
      .row
        .col-lg-12
          h4.card-title New Archive

        .col-lg-12
          hr

        .col-lg-12( data-region='nav' )

        .col-lg-12
          hr

        .col-lg-12( data-region='content' )
