include ../../../../base/partials/form_helpers

.col-xs-12

  input(type='hidden', name='action', value='clone')

  .alert.alert-info
    i.fa.fa-fw.fa-copy
    | &nbsp;
    | Clone

.col-xs-4
  +formSelect({ label: 'Clone From', name: 'clone_source', options: sourceOptions })
