mixin actionSelector(opts)
  button.btn.btn-secondary( data-select='action' data-action=opts.action )
    i.fa.fa-fw( class=opts.icon )
    | &nbsp;
    | #{opts.text}

.col-xs-12
  p.lead Action

if isNew
  .col-xs-12
    .btn-group.w-100
      each actionType in availableActions
        +actionSelector(actionType)

.col-xs-12.m-t-1( data-region='action-type' )
