include ../../../../base/partials/form_helpers

.col-xs-12

  input(type='hidden', name='action', value='index_from_split')

  .alert.alert-info
    i.fa.fa-fw.fa-strikethrough
    | &nbsp;
    strong Index From Split
    br
    | Splits a string at a character and returns the sub-string at specified index.

.col-xs-12
  +formSelect({ label: 'Source', name: 'index_from_split_source', options: sourceOptions })

.col-xs-12
  +formInput({ label: 'Split At', placeholder: 'Split At', name: 'index_from_split_delimiter', type: 'text' })

.col-xs-12
  +formInput({ label: 'Index', placeholder: 'Index', name: 'index_from_split_index', type: 'text' })
