include ../../../../base/partials/form_helpers

.col-xs-12

  input(type='hidden', name='action', value='replace')

  .alert.alert-info
    i.fa.fa-fw.fa-hand-stop-o
    | &nbsp;
    | Replace

.col-xs-6
  +formSelect({ label: 'replace_source', name: 'replace_source', options: sourceOptions })

.col-xs-6
  +formInput({ label: 'replace_with', placeholder: 'replace_with', name: 'replace_with', type: 'text' })
