.col-xs-4

  .row
    .col-xs-12
      button.btn.btn-primary-outline.w-100( data-click='add' )
        i.fa.fa-fw.fa-plus-circle
        | &nbsp;
        | Add Condition

    .col-xs-12.m-t-1( data-region='list' )

.col-xs-8(data-region='detail')
  .alert.alert-warning No Conditions Defined.

  button.btn.btn-primary-outline.w-100( data-click='add' )
    i.fa.fa-fw.fa-plus-circle
    | &nbsp;
    | Add Condition
