include ../../../../base/partials/form_helpers

.col-xs-12
  .card.card-block

    .row

      .col-xs-12
        p.lead.m-b-0
          if isNew
            | New Condition
          else
            | Edit Condition

      .col-xs-12
        hr

      .col-xs-4
        //- Source Selector
        +formSelect({ label: 'Source', name: 'source', options: sourceOptions })

      .col-xs-4
        //- Operation Selector
        +formSelect({ label: 'Operation', name: 'operation', options: operationOptions })

      .col-xs-4
        //- Value input
        +formInput({ label: 'Value', placeholder: 'Value', name: 'value', type: 'text' })

      .col-xs-6
        //- Blocking Input
        +formInput({ label: 'Blocking', formGroupCss: 'm-b-0', name: 'blocking', type: 'checkbox', value: blocking })

      .col-xs-12
        hr

      .col-xs-12
        +formInput({ label: 'Result', placeholder: 'Result', name: 'result', type: 'text' })

      .col-xs-12
        hr

      //- TODO - these buttons should be custom-made for this particular form
      .col-xs-12.text-xs-right
        +cancelButton({})
        +submitButton({})
