- tooltipAttrs = { 'data-placement': 'left', 'data-toggle': 'tooltip' }

.row
  .col-xs-2
    i.fa.fa-fw.fa-bars.cursor-pointer.sortable

  //- TODO - any better attribute to list here?
  .col-xs-10= action
  //- .col-xs-10 #{order} | #{result}
