li.list-group-item
  .row
    .col-xs-6
      strong Condition

    .col-xs-6
      button.btn.btn-sm.btn-primary-outline.w-100( data-click='add' )
        i.fa.fa-fw.fa-plus-circle
        | &nbsp;
        | Add

