include ../../../../base/partials/form_helpers

.col-xs-12
  .card.card-block

    .row

      .col-xs-12
        p.lead.m-b-0
          if isNew
            | New Condition
          else
            | Edit Condition

      .col-xs-12
        hr

      .col-xs-6

        //- TODO - should be a select box
        +formInput({ label: 'Source', placeholder: 'Source', name: 'source', type: 'text' })

        //- Operation Selector
        +formSelect({ label: 'Operation', name: 'operation', options: ['exact_match', 'replace'] })

      .col-xs-6

        +formInput({ label: 'Value', placeholder: 'Value', name: 'value', type: 'text' })

        +formInput({ label: 'Result', placeholder: 'Result', name: 'result', type: 'text' })

      //- TODO - these buttons should be custom-made for this particular form
      .col-xs-12.text-xs-right
        +cancelButton({})
        +submitButton({})
