- tooltipAttrs = { 'data-placement': 'left', 'data-toggle': 'tooltip' }

.row
  .col-xs-2
    //- TODO - this should be a data-attribute
    //- And managed in a behavior
    i.handle.fa.fa-fw.fa-bars(style='cursor:pointer;')

  .col-xs-10 CONDITION
