include ../../../../base/partials/form_helpers

.col-xs-4

  //- TODO - should be a select box
  +formInput({ label: 'Target Attribute', placeholder: 'Target Attribute', name: 'target_property', type: 'text' })

  //- TODO - enabled checkbox

  //- Decorators only accept ONE condition.
  //- We manage this logic in the DecoratorView class
  //- TODO - should be a select box

.col-xs-4
  //- TODO - options should be defined and passed in from the view
  +formSelect({ label: 'Source', name: 'source', options: [['format_lowercase', 'Format Lowercase'], ['format_uppercase','Format Uppercase']] })

.col-xs-4
  +formSelect({ label: 'Operation', name: 'operation', options: ['format_lowercase', 'format_uppercase'] })

.col-xs-12
  +cancelButton({})
  +submitButton({})
