include ../../../../base/partials/form_helpers

.col-xs-12

  //- TODO - should be a select box
  +formInput({ label: 'Source', placeholder: 'Source', name: 'source', type: 'text' })

  //- TODO - should be a select box
  +formInput({ label: 'Operation', placeholder: 'Operation', name: 'operation', type: 'text' })

  +formInput({ label: 'Value', placeholder: 'Value', name: 'value', type: 'text' })

  +formInput({ label: 'Result', placeholder: 'Result', name: 'result', type: 'text' })
