include ../../../../base/partials/form_helpers


mixin typeSelector(opts)
  button.btn.btn-secondary( data-click='type-selector' data-type=opts.type )
    i.fa.fa-fw( class=opts.icon )
    | &nbsp;
    | #{opts.text}

.row
  .col-xs-12
    p.lead New Knowledge Rule

  .col-xs-12
    +typeSelector({ type: 'definer',    icon: 'fa-plus-square-o', text: 'Definer' })
    +typeSelector({ type: 'decorator',  icon: 'fa-magic',         text: 'Decorator' })

  .col-xs-12( data-region='type-form' )

  //-   +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })
  //-   +formTextArea({ label: 'Tooltip', placeholder: 'Tooltip', name: 'tooltip', type: 'text' })

  //- .col-xs-12
  //-   button.btn.btn-secondary( type='button', data-dismiss='modal' ) Close
  //-   +submitButton({})
