include ../../../../base/partials/form_helpers

.col-xs-3

  //- TODO - should be a select box
  +formInput({ label: 'Target Attribute', placeholder: 'Target Attribute', name: 'targetAttr', type: 'text' })

  //- TODO - ENABLED CHECKBOX

  button.btn.btn-sm.btn-primary-outline.w-100( data-click='add' )
    i.fa.fa-fw.fa-plus-circle
    | &nbsp;
    | Add Condition

.col-xs-9(data-region='conditions')
