include ../../../../base/partials/form_helpers

.col-xs-3

  //- TODO - should be a select box
  +formInput({ label: 'Target Attribute', placeholder: 'Target Attribute', name: 'targetAttr', type: 'text' })

  //- TODO - ENABLED CHECKBOX

.col-xs-9(data-region='conditions')
