.row
  .col-xs-6
    h4.card-title Knowledge Rules

  .col-xs-6.text-xs-right
    button.btn.btn-sm.btn-success-outline.m-r-2( data-click='apply')
      i.fa.fa-fw.fa-globe
      | &nbsp;
      | Apply Rules

    button.btn.btn-sm.btn-danger-outline( data-click='reset' )
      i.fa.fa-fw.fa-refresh
      | &nbsp;
      | Reset

.row
  .col-xs-12
    hr

.row
  .col-xs-4
    .row
      .col-xs-12
        button.btn.btn-primary-outline.w-100( data-click='new-model' )
          i.fa.fa-fw.fa-plus
          |&nbsp;
          |New

      .col-xs-12.m-t-1( data-region='list' )

  .col-xs-8
    .row(data-region='detail')
