//- .row
//-   .col-xs-2(data-region='list')
//-   .col-xs-10(data-region='detail')

.row
  .col-xs-4
    .row
      .col-xs-6
        h4.card-title Knowledge Rules

      .col-xs-6
        .pull-right.btn.btn-sm.btn-primary-outline( data-click='new-model' )
          i.fa.fa-fw.fa-plus
          |&nbsp;
          |New

    .row
      .col-xs-12( data-region='list' )

  .col-xs-8(data-region='detail')
