include ../../../../base/partials/form_helpers

.row
  .col-xs-12

    .card.card-block
      .row
        .col-xs-12
          p.lead Analysis

        .col-xs-12
          .alert.alert-info
            i.fa.fa-fw.fa-question-circle
            | &nbsp;
            | This action exports the dataset with Knowledge Capture.

        .col-xs-6.col-xs-push-3
          button.btn.btn-success-outline.w-100( data-click='export' )
            i.fa.fa-fw.fa-cloud-download
            | &nbsp;
            | Export Archive
