include ../../../../base/partials/form_helpers

.row
  .col-xs-12
    p.lead Analysis

  .col-xs-12
    .alert.alert-info
      i.fa.fa-fw.fa-question-circle
      | &nbsp;
      strong HELP
      p This action exports the dataset with Knowledge Capture.

  .col-xs-12
    button.btn.btn-success-outline( data-click='export' )
      i.fa.fa-fw.fa-cloud-download
      | &nbsp;
      | Export
